version: 2.1
jobs:
  build:
    docker:
      - image: circleci/node:latest
    steps:
      - checkout
      - run: echo "npm installing"
      - run: npm install
      - run: CI=true npm run build
  test:
    docker:
      - image: circleci/node:latest
    steps:
      - checkout
      - run: echo "running tests"
      - run: npm install
      - run: npm run test 
workflows:
  version: 2.1
  build-test-and-lint:
    jobs:
      - build
      - test:
          requires:
            -  build

