version: 2.1
jobs:
  build:
    docker:
      - image: circleci/node:14.10.1
    steps:
      - checkout
      - run: echo "npm installing"
      - run: npm install
      - run: CI=true npm run build
  test:
    docker:
      - image: circleci/node:14.10.1
    steps:
      - checkout
      - run: echo "running tests"
      - run: npm install
      - run: npm test
workflows:
  version: 2.1
  bobby_sally:
    jobs:
      - build
      - test:
        requires:
          -  build

