version: 2.1
jobs:
  bobby:
    docker:
      - image: circleci/node:14.10.1
    steps:
      - checkout
      - run: echo "A first hello"
  sally:
    docker:
      - image: circleci/node:14.10.1
    steps:
      - checkout
      - run: echo "Double Trouble"
workflows:
  version: 2.1
  bobby_sally:
    jobs:
      - bobby
      - sally